* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}


header {
  background: #000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
}

.logo {
  color: #ff4d30;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-links a:hover {
  color: #ff4d30;
}


.hero {
  min-height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
 background: linear-gradient(rgba(0, 0, 0, 0.459), rgba(0, 0, 0, 0.479), rgba(0, 0, 0, 0.527)), url(/wall\ 2.jpg);
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
}


.hero-text {
  max-width: 500px;
  color: white;
}

.hero-text h1 {
  font-size: 3rem;
  margin-bottom: 15px;
}

.hero-text p {
  font-size: 1.2rem;
  margin-bottom: 25px;
}

.btn {
  padding: 12px 30px;
  background: #ff4d30;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.btn:hover {
  background: #e63e24;
}


.hero-image img {
  width: 450px;
  
}




@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .hero {
    flex-direction: column;
    text-align: center;
    padding-top: 40px;
  }

  .hero-image img {
    width: 300px;
    margin-top: 30px;
  }
}
